.room-code {
  height: 4rem;
  border-radius: 0.8rem;
  overflow: hidden;

  background: var(--white);
  border: 0.1rem solid var(--purple);
  cursor: pointer;

  display: flex;

  > div {
    background: var(--purple);
    padding: 0 1.2rem;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  span {
    display: block;
    align-self: center;
    flex: 1;
    padding: 0 1.2rem 0 1.6rem;
    width: 24rem;
    font-size: 1.4rem;
    font-weight: 500;
  }
}

@media (max-width: 425px) {
  .room-code {
    span {
      display: none;
    }
  }
}
